.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: rgb(159, 170, 192);
    color: #1122cc;
    padding: 1em;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}